* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0a0909;
}

.bg {
    color: #fcf9f9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/car1.jpg);
    background-color: #c00909;
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 8px;
}

a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(250, 249, 249);

    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    padding: 2px 0;
    border-bottom: 2px solid #eb190a;
}

.top_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}

.icon {
    font-family: fantasy;
    font-weight: bold;
    color: #fcfafa;
}

.btn {
    background: #fc0000;
    background-image: -webkit-linear-gradient(top, #fc0000, #e60000);
    background-image: -moz-linear-gradient(top, #fc0000, #e60000);
    background-image: -ms-linear-gradient(top, #fc0000, #e60000);
    background-image: -o-linear-gradient(top, #fc0000, #e60000);
    background-image: linear-gradient(to bottom, #fc0000, #e60000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #fcf9f9;
    color: #580404;
    text-decoration: none;
}

.header-text {
    text-align: center;
    color: #ece7e7;
    padding: 120px 0 30px 0;
    width: 50%;
    margin: auto;
}

.span{
    font-family: cursive;
    color: #420703;
    font-size: 34px;
    font-weight: 700;
}

.about-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-text {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    margin: auto;
    line-height: 22px;
    text-align: center;
}

.about-text h3 {
    padding: 12px;
    font-size: 18px;
}

.img {
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.new-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #f5f1f1;
}

.new_item_text {
    padding: 50px;
    color: rgb(250, 249, 249);
}

.text {
    text-align: left;
padding: 10px 0;
}

.text h3
{
    padding: 14px 0;
    color: #0c0b0b;
}

img
{
    width: 100%;
}

.service-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 27px;
        grid-row-gap: 0px;
}

.service-items {
    text-align: center;
    margin: auto;
    padding: 120px 30px;
}


.{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }